body {
    font-family: sans-serif;
    background-color: #030836;
}

* {
    box-sizing: border-box;
}
h1 {
    color: #eee;
    margin-bottom: 30px;
}
.container {
    padding: 60px;
    margin: 0 auto;
    max-width: 850px;
    text-align: center;
}

#productList {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 25px;
}

.products {
    list-style-type: none;
    background-color: #fff3f3;
    border-radius: 7px;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        'title thumbnail'
        'description thumbnail';
    text-align: left;
    overflow-x: auto;
    overflow-y:scroll;
}

.products > h6 {
    grid-area: title;
    margin-bottom: 0px;
    
}

.products > p {
    grid-area: description;
    margin: 0;
    margin-top: -18px;
}

.products > img {
    max-height: 100px;
    grid-area: thumbnail;
}

#searchBar {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #eaeaea;
    padding: 10px 15px;
    font-size: 14px;
}

#searchWrapper {
    position: relative;
}

#searchWrapper::after {
    content: '🔍';
    position: absolute;
    top: 8px;
    right: 15px;
}
